/*! A TENER EN CUENTA:*/
/*TODO: Si querés contribuir al codigo tenés que tener en cuenta:*/

    /*! Rojo = Separación de Secciones*/ /*Existen 3:
    //Top = Corresponde al contenedor de los 3 elementos superiores;
        //Icono del colegio; 
        //Nombre del Colegio; 
        //icono de barra;
    //Middle = Ul y contenedor de los Li
    //Bottom = Modo oscuro || Modo claro
    
    /** Verde = Estructura*/    /** <-----------------> */
    /*? Azul  =  Estilos*/      /*? <-----------------> */
        /*o el color que sea para vos*/
    /*Para entender esto, instalen la extensión ""Better Comments"*/
    /*Claramente habrá excepciones, pero esta suele ser la forma en la que yo trabajo.*/


.main { max-width: 100%;
}

.hero { height: 100vh;   width: 100%;
    background: url(img/Background-Image.gif);         /*Acomodo de la imagen de fondo*/
    background-size: cover;
    background-position: center;
}

/*
.mainInside {       height: 100%;
    
    width: var(--main-inside);
    position: absolute;
    right:0;
    transition: all 0.4s ease;
}

.mainInside.active {
    width: var(--nav-active);
}

.h1 {
    font-size: calc(2.5em + 3.5vw);
    padding-top: 7.5px;
    text-align: center;
    font-family: Pixel;
    color: white;
    letter-spacing: 5px;
    user-select: none;
}

.robotContainer {   width: 100%;    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.uno {              min-width: 30%; max-width: 75%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: black;
}
*/