/*! A TENER EN CUENTA:*/
/*TODO: Si querés contribuir al codigo tenés que tener en cuenta:*/

    /*! Rojo = Separación de Secciones*/ /*Existen 3:
    //Top = Corresponde al contenedor de los 3 elementos superiores;
        //Icono del colegio; 
        //Nombre del Colegio; 
        //icono de barra;
    //Middle = Ul y contenedor de los Li
    //Bottom = Modo oscuro || Modo claro
    
    /** Verde = Estructura*/    /** <-----------------> */
    /*? Azul  =  Estilos*/      /*? <-----------------> */
        /*o el color que sea para vos*/
    /*Para entender esto, instalen la extensión ""Better Comments"*/
    /*Claramente habrá excepciones, pero esta suele ser la forma en la que yo trabajo.*/


@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@font-face {
    font-family: Futured;
    src: url(fonts/futured/Futured.TTF);
    }
    @font-face {
        font-family: Neon;
        src: url(fonts/neon\ future/Neon.ttf);
        }
        @font-face {
            font-family: Pixel;
            src: url(fonts/pixel\ millennium/Pixel.ttf);
            }
            @font-face {
              font-family: Elegant;
              src: url(fonts/elegant/Elegante.ttf);
              }


:root {   /*! MEASURES AND DARK MODE (DEFAULT)*/
    --time-transition-mode:.2s;



    /*Nav*/
    --nav:calc(200px + 1vw);
    --nav-active:calc(100% - 100px);
    --main-inside:calc(100% - (200px + 1vw));

    --nav-bg-color:rgb(7, 7, 7);        
        /*Top*/
        
    --top-bg-color:rgba(56, 82, 82, 0.192);
    --logo-color:white;    
    --top-title-color:white;
    --span-color:rgb(37, 182, 102);
    --bar-color:white;
    --border-top-color:transparent;

        /*Middle - Ul*/
    --icon-svg-color:#37c1f0;       
    --icon-svg-bg-color:#00000;         
    --middle-text-color:rgb(255, 255, 255); 
    --middle-text-bg-color:#000000e8;
    --middle-bg-hover-color:rgba(19, 19, 20, 0.452);
    --bottom-icon-color:rgba(120, 150, 231, 0.267);
    
    --line-color:#37c1f0;   /*UI Line*/

        /*Buttom*/
    --text-button-color:rgba(255, 255, 255, 0.671);
    --button-bg-color:rgb(14, 13, 13);    

}

.body.LIGHT {   /*! LIGHT MODE */
  --time-transition-mode:.2s;
  


          
    --nav-bg-color:rgb(224, 232, 233); 
    /*Top*/
    --top-bg-color:rgb(98, 56, 165);
    --logo-color:rgb(255, 255, 255);   
    --top-title-color:rgb(255, 255, 255);
    --span-color:rgb(255, 255, 0);
    --bar-color:rgb(0, 0, 0);
    --border-top-color:transparent;

      /*Middle - Ul*/
    --icon-svg-color:#a32b8f;       
    --icon-svg-bg-color:#00000;         
    --middle-text-color:rgb(0, 0, 0); 
    --middle-text-bg-color:#b33e3ee8;
    --middle-bg-hover-color:rgba(195, 195, 216, 0.452);
    --bottom-icon-color:rgba(108, 72, 109, 0.363);

    --line-color:#a32b8f;   /*UI Line*/
      /*Buttom*/
      
    --text-button-color:rgba(0, 0, 0, 0.733);
    --button-bg-color:rgb(234, 195, 241);
 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

html, .body {   width: 100%; height: 100%;
}       /*Estructure*/

    /* *Side Bar Nav Start*/

.sideNavBar {       width:var(--nav); height: 100%;
    position: fixed;
    background-color: transparent;
    transition: all 0.5s ease;
}

.nav {          width: 100%; height: 100%;
        /** <------------------------------------> */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7.5%;
        /*? <------------------------------------> */
    background-color: var(--nav-bg-color);
    transition: background-color var(--time-transition-mode) ease;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.295);
    border-radius: 0 .5em .5em 0;
}

.topAndUlContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap:3em;
}
        /*Logo and First H2*/


        /*! 1/3 TOP*/

.top {          width: 100%; 
        /** <------------------------------------> */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    border-radius: 0 .5em 0 0;
    padding: 1em 0 1em 0;
        /*? <------------------------------------> */
    background-color:var(--top-bg-color);
    border-bottom: solid 1px var(--border-top-color);
}

    .top .simbolo {     /*Logo*/
        margin-right: 3%;
        font-size: 2em;
        color: var(--logo-color);
        transition: all .3s ease;
        transition: color var(--time-transition-mode) ease;
       
    }
    .top h2  {          /*E.E.S.T*/
            /*? <------------------------------------> */
        transition: all .1s ease;
        transition: color var(--time-transition-mode) ease;
        font-size: 1.2em;
        font-family: 'Bruno Ace SC', cursive;
        letter-spacing: 2px;
        color: var(--top-title-color);
    }

    .top .spanExtra {    /*N_5*/
        display: block;
        filter: brightness(1.75);
        font-size: 0.75em;
        font-family: 'Bruno Ace SC', cursive;
        transition: color var(--time-transition-mode) ease;
        color: var(--span-color);
    }

    .btn {
        background-color: transparent;
        border: none;
        font-size: 2em;
        transition: 0.2s ease-out;
        transition: background-color color 0.25s ease-in-out ;
        cursor: pointer;
        background-color: transparent;
        
    }

        .btn .logo {
            width: 100%;
            height: 100%;
            color:var(--bar-color);
            font-size: 1.25em;
            border-radius: 5px;
            background-color:transparent;
        }

    /*! TOP ENDED*/
        /*! 2/3*/
    /*! MIDDLE OR UL START*/

        /*Four Nav Url*/
.ul {
        /** <------------------------------------> */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.li {   width: 90%;
            /** <------------------------------------> */
        border-radius: 5px;
        gap: .75em;
            /*? <------------------------------------> */
        background-color:transparent;
        
}
    .li a { width: 100%;
            /** <------------------------------------> */
        transition: color var(--time-transition-mode) ease;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: end; 
        user-select: none;
        gap: 1em; 
        padding:2.5% 0 2.5% 0; 
        white-space: nowrap;
        overflow: hidden;
        
       
        
            /*? <------------------------------------> */
        color: var(--middle-text-color);
        font-size: 1.25em;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight:200;
        filter: saturate(2);
}


    /*
        @keyframes cosito {
            0% {
                bottom: -100%;
            }
            100% {
                bottom: 2.5%;
            }
        }
    */  /* *To modify in javascript*/    

    .li a .listIcon /*Four Icons*/ {   
                    /** <------------------------------------> */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:1px;
        padding: 5px;
        width: 30px;
        margin-left: 10px;
        transition: font-size .4s ease;
                    /*? ------------------------------------ */
        font-size: 1.25em;
        border-bottom: solid 1.5px var(--bottom-icon-color);
        filter: blur(0.5px);
        color: var(--icon-svg-color);
        background-color:var(--icon-svg-bg-color);
        
}

    .li:hover {
        background-color: var(--middle-bg-hover-color);
    }


    .li:first-child a:after {   width:calc(1px + 0.25vw); height:95%;    /*Delete first child*/
        content: '';
        position: absolute;
        bottom:2.5%;   /*-100% to 2.5% for make this visible*/
        right: 0.75%;
        border-radius: 1.5px;
        background-color:var(--line-color) ;
        filter: blur(.5px);
        animation: cosito .4s ease;
    }


      /*! MIDDLE ENDED*/
        /*! 3/3*/
    /*! BOTTOM START*/ /* Dark && Light Mode Fuaaa */
    .slider{
        display: none;
    }

    .bottom {   height: 35%;
      display: flex;
      justify-content: center;
      align-items: end;
      margin-bottom: 7.5%;
      background-color: transparent;
    }

    .darkMode {  width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      margin: 0 7.5% 0 7.5%;
      background-color: transparent;
    }

      .mode { width:95%; min-height:4.5em;
        position: relative;
        border-radius: .5em;
        background-color: var(--button-bg-color);
        transition: ease var(--time-transition-mode);
        border: none;
        cursor: pointer;
      }
        .mode > .modeIcon { width: 4em;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
          }
              .modeIcon.light , .modeIcon.dark {
                visibility: hidden;
              }

      .modeText {
        user-select: none;
        white-space: nowrap;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        letter-spacing: 2px;
        font-style: italic;
        color:var(--text-button-color);
      }

          .modeText.light , .modeText.dark{
            display: none;
          }

    /*! <------------------------------------>*/
/* Estilos Activados al presionar la barra de navegación*/
        /* Función toggle*/

.sideNavBar.active {
    width: 100px;
}

.sideNavBar.active .logo {
  font-size:1.5em;
}

.simbolo.active , .top h2.active , .sideNavBar.active .aList{
    display: none;
}

.sideNavBar.active .li a , .sideNavBar.active .li a i {
    justify-content: center;
}

.sideNavBar.active .listIcon {
    font-size: 1.5em;
    margin-left: -10px;
    transition: 0.1s ease-in;
} 


.sideNavBar.active .li a .listIcon {
    width: 80%;
}

/*! MOBILE MODE*/


@media screen and (max-width:800px) {

    .body {
        --nav:100%;
        --main-inside:100%;
    }
    .top, .modeText, .li a span  {
        display: none;
    }

    .slider {
        display: block;
    }

    .mainInside {    width: 100%;
       
    }

    .nav {          height:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        border-radius:0;
    }

    .sideNavBar {   height: 10%;
        bottom: 0;
        z-index: 100;
    }

    .mode {         width: 100%; min-height: 4.35em;
        border-radius: 0.5em 0 0 0.5em;
    }

    .ul {               width: 90vw;

        flex-direction: row;
        margin: 0 2.5vw 0 2.5vw;
        gap: 1vw;
        list-style: none;
    }

    .bottom {           width: 4em; height: 100%;

        display: block;
        position: absolute;
        right: -4.5em;
        top: -800%;
        margin-bottom: 0;
        transition: all .25s ease;
        border-radius: 0.5em 0 0 0.5em;
    }

    .bottom.left {
        right: 0;
    }
        

    .slider {    width: 3em; height:4.35em;
       
        display: block;
        position: absolute;
        z-index: -5;
        right:-1em;
        top: -800%;
        z-index: -1;
        border: none;
        background-color: transparent;
        transition: all .25s ease;
    }

    .slider.left {
        right:3.5em;
    }

        .arrow {    width:100%; height: 100%;
        }

        .arrow.white {  /*Su Modo Claro*/
            filter: invert(.9);
        }

        

    .darkMode {
        margin: 0;
        display: block;
        display: flex;
        flex-direction: row;
        
    }
    .modeIcon {
        font-size: .75em;
    }

    .li  {          width:25%
    }
    .li a {
        justify-content: center;
    }

    .li a .listIcon {
        margin-left: 0;
        width: none;
        border-bottom: none;
    }

    .li:hover {
        background-color: transparent;
    }
    
    .li:first-child a:after {
        height: 2px;
        width: 100%;
     }
   
   
}